<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datiba.mapper.ExamMapper">

    <resultMap id="BaseResultMap" type="com.datiba.domain.Exam">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="paperId" column="paper_id" jdbcType="INTEGER"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="dateRange" column="date_range" jdbcType="VARCHAR"/>
            <result property="countdownMinutes" column="countdown_minutes" jdbcType="INTEGER"/>
            <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,paper_id,code,
        date_range,countdown_minutes,created_by,
        created_time,updated_time
    </sql>
</mapper>
