<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.datiba.mapper.PaperMapper">
    <!--orderby 拼接要用${} ${}引用的值不会进行预编译，直接和sql拼接在一起-->
    <!-- 能看到自己创建的 和 公有的-->
    <select id="listPaper" resultType="com.datiba.domain.Paper">
        select *
        from paper
        <where>
            <if test="bankId != null and bankId != ''">
                bank_id = #{bankId}
            </if>
            <if test="keyword != null and keyword != ''">
                and name LIKE CONCAT('%', #{keyword}, '%')
            </if>
            and (created_by = #{userId}
            or is_private = 0)
        </where>
        order by created_time ${order}
    </select>
    <select id="listHotPaper" resultType="com.datiba.domain.Paper">
        SELECT *
        from paper
        where id in (select paper_id
                     from exam_record
                     GROUP BY paper_id
                     HAVING is_private = 0
                     ORDER BY COUNT(1) DESC)
            limit #{hotPaperSize}
    </select>
    <select id="getUserCreated" resultType="com.datiba.domain.Paper">
        select *
        from paper
        where created_by = #{userId}
        order by created_time desc
    </select>
    <select id="getUserCollection" resultType="com.datiba.domain.Paper">
        select *
        from paper
        where id in
        <foreach collection="paperIds" index="index" item="paperId" open="(" close=")" separator=",">
            #{paperId}
        </foreach>
    </select>


</mapper>

